@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

:root {
  --font: "Work Sans", sans-serif;
  --color1: #f28482;
  --color2: #f0efeb;
  --color3: #fff;
  --color4: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font);
}
body {
  background: var(--color2);
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  list-style: none;
  text-align: center;
  top: 0;
  font-size: 1em;
}
nav ul li {
  display: inline-flex;
}
nav ul li a {
  color: var(--color4);
  padding: 0.5em 1em;
  text-decoration: none;
}
nav li a:hover {
  background-color: var(--color1);
  border-radius: 1em;
  transition: background-color 0.5s;
  opacity: 0.8;
}
header {
  text-align: center;
  padding: 1em 4em;
}
header h1 {
  font-size: 5em;
}
/*.gallery {
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
}
.photo img {
  height: 15em;
  width: 24em;
  margin: 1em 1em 0 1em;
  border-radius: 0.5em;
}
.photo figcaption {
  text-align: center;
}*/
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
.gallery .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gallery .box .photo {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}
.gallery .box .photo figure img {
  width: 100%;
  margin: 0.5em;
  border-radius: 0.5em;
}
.photo figcaption {
  margin: 0 0 0 0.5em;
}
.button {
  margin: 2em auto;
  display: block;
  text-align: center;
}
.button a {
  color: var(--color4);
  padding: 0.5em 1em;
  text-decoration: none;
}
.button a:hover {
  background-color: var(--color1);
  border-radius: 1em;
  transition: background-color 0.5s;
  opacity: 0.8;
}
footer {
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  margin: 1em 0 0 0;
  bottom: 0;
}
@media only screen and (max-width: 769px) {
  .gallery .box {
    flex-direction: column;
  }
  .container .box .photo {
    width: 100%;
  }
}
@media only screen and (max-width: 378px) {
  header h1 {
    font-size: 4em;
  }
}
