@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

/*Setting CSS variables for HTML Root Element*/
:root {
  --font: "Work Sans", sans-serif;
  --color1: #f28482;
  --color2: #f0efeb;
  --color3: #fff;
  --color4: #000;
}
/*Style set for all selectors*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font);
}
body {
  background: var(--color2);
}

/*Navbar*/
nav {
  list-style: none;
  text-align: center;
  top: 0;
  font-size: 1em;
}
nav ul li {
  display: inline-flex;
}
nav ul li a {
  color: var(--color4);
  padding: 0.5em 1em;
  text-decoration: none;
}
nav li a:hover {
  background-color: var(--color1);
  border-radius: 1em;
  transition: background-color 0.5s;
  opacity: 0.8;
}
/*Navbar*/

/*Header consisting of h1 and intro para*/
header {
  text-align: center;
  padding: 1em 4em;
  width: 90%;
  margin: auto;
}
header h1 {
  font-size: 5em;
}
/*Header consisting of h1 and intro para*/

/*Gallery*/
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
.gallery .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gallery .box .photo {
  display: flex;
  flex-direction: column;
  width: 32.5%;
  margin: auto;
}
.gallery .box .photo figure img {
  width: 100%;
  margin: 0.5em 0;
  border-radius: 0.5em;
}
.photo figcaption {
  margin: 0 0 0 0.5em;
}
/*Gallery*/

/*Button*/
.button {
  margin: 2em auto;
  display: block;
  text-align: center;
}
.button a {
  color: var(--color4);
  padding: 0.5em 1em;
  text-decoration: none;
}
.button a:hover {
  background-color: var(--color1);
  border-radius: 1em;
  transition: background-color 0.5s;
  opacity: 0.8;
}
/*Button*/

/*Footer*/
footer {
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  margin: 1em 0 0 0;
  bottom: 0;
}
/*Footer*/

/*Media Query for Screens*/
@media only screen and (max-width: 769px) {
  .gallery .box {
    flex-direction: column;
    margin: auto;
  }
  .gallery .box .photo {
    width: 100%;
    margin: auto;
  }
}
@media only screen and (max-width: 378px) {
  header h1 {
    font-size: 4em;
  }
}
/*Media Query for Screens*/

/*Custom Scrollbar*/
/*Scroll Bar Width*/
::-webkit-scrollbar {
  width: 1em;
}

/*Scroll Bar Path*/
::-webkit-scrollbar-track {
  background: var(--color2);
  border-radius: 0;
}

/*Scroll Bar Thumb*/
::-webkit-scrollbar-thumb {
  background: var(--color1);
  border-radius: 0.4em;
  opacity: 0.6;
}
/*Custom Scrollbar*/

